<div class="col">
  <figure class="figure">
    <img src="https://www.ucpla.org/wp-content/plugins/widgetkit/assets/images/content-placeholder.svg" class="figure-img img-fluid rounded" alt="">
    <figcaption class="figure-caption">
      <h2 class="text-dark"><%= @activity.name %></h2>
      <strong>Date:</strong> <%= @activity.date %><br>
      <strong>Duration:</strong> <%= @activity.duration %>
    </figcaption>
  </figure>
</div>

